body {
  font-family: sans-serif;
	overflow: hidden;
}

.about,.hint {
	position: absolute;
	padding: 0.7em 1em;
	background: rgba(240, 240, 240, 0.7);
}

.dark .about,.dark .hint {
	background: rgba(32, 32, 32, 0.7);
}

.about {
	right: 0.5em;
	bottom: 0.5em;
}

.hint {
	left: 0.5em;
	bottom: 0.5em;
}

.loading {
	margin: 10% 10%;
	font-size: xx-large;
	position: absolute;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
}

.dark {
	color: #ccc;
	background: #222;
}

.dark a {
	color: #fff;
}




#questionViewer {
    width: 100%;
    height: 395px;
    margin: 0px;
    position: absolute;
    z-index: 999;
    left: 0px;
    background: url(../img/ques-holder.png) no-repeat;
    background-size: 100% 100%;
    bottom: -395px;
    display: block;
    -webkit-transition: all .5s .3s ease;
}

div#questionTitle {
    width: 340px;
    height: 110px;
    margin: 0px auto;
    background: url(../img/ques-box.png) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    position: relative;
    font-family: 'the_kings_of_the_houseregular';
    line-height: normal;
    font-weight: normal;
}

#questionTitle p {
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
    line-height: normal;
    position: relative;
}

div#userAnswer {
    width: 100%;
    height: 145px;
    margin-top: 5px;
}

#userAnswer ul {
    margin: 0px auto;
    padding: 0px;
    list-style: none;
    line-height: normal;
    vertical-align: middle;
    width: 100%;
    /* float: left; 
    min-height: 38px;*/
    font-family: 'the_kings_of_the_houseregular';
    text-align: center;
}


#userAnswer li {
    width: 120px;
    height: 65px;
    display: block;
    background: url(../img/options-bg.png) no-repeat center center;
    background-size: 100% 100%;
    padding: 6px 15px;
    color: #fff;
    font-size: 20px;
    margin: 10px 12px;
    text-align: center;
    float: left;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
}

    #userAnswer li.active {
        width: 120px;
        height: 65px;
        background-size: 100% 100%;
        background: url(../img/options-bg_active.png) no-repeat;
        background-size: 100% 100%;
        padding: 6px 15px;
        color: #fff;
        font-size: 20px;
        margin: 10px 12px;
        text-align: center;
        float: left;
        line-height: normal;
        vertical-align: middle;
        cursor: pointer;
        color: #8c3f17;
    }

#submitAns {
    width: 104px;
    background: url(../img/submitBtn.png) no-repeat;
    background-size: 100% 100%;
    height: 50px;
    vertical-align: middle;
    font-family: 'the_kings_of_the_houseregular';
    font-weight: normal;
    color: #fff;
    border: 0px;
    float: right;
    margin-right: 30px;
    font-size: 24px;
    cursor: pointer;
}