<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1;text/html; charset=utf-8;" />

		<script id="SBbase" type="text/javascript">
			var SBpath = "../../js/";
		</script>
		
		<link id="sbgridCss" href="../../js/SBGrid/css/SBGrid.css" rel="stylesheet" type="text/css">
		<link id="sbgridCss_Default" href="../../js/SBGrid/css/SBGrid_Default.css" rel="stylesheet" type="text/css">
		<script id="sbGridLib" src="../../js/SBGrid/SBGrid_Lib.js" type="text/javascript"></script>
		<script src="../../js/SBGrid/SBGrid_min.js" type="text/javascript"></script>
		<link href="../../css/basic.css" rel="stylesheet" type="text/css">
		<link href="../../css/common.css" rel="stylesheet" type="text/css">
		<script src="../../data/data.js" type="text/javascript"></script>
		<script src="../../js/toggle/toggle_attr.js" type="text/javascript"></script>
		<script src="../../js/common.js" type="text/javascript"></script>
		
		<title>all themes</title>

		<script type="text/javascript">
			var datagrid;
			var SBGridProperties = {};
			
			function createGrid(){
				
				SBGridProperties.parentid = 'SBGridArea';
				SBGridProperties.id = 'datagrid';
				SBGridProperties.jsonref = 'ct_data.gridData';
				SBGridProperties.filtering = true;
				SBGridProperties.selectmode = 'free';
				SBGridProperties.columns= [
					{caption : ['기본정보','이름'],		ref : 'name',		width : '80px',	style : 'text-align:center',	type : 'output',		filering : { usemode : false}},
					{caption : ['기본정보','나이'],		ref : 'age',		width : '80pxx',	style : 'text-align:center',	type : 'input' , 		typeinfo :{maxlength : 5},	round : {type : 'floor', position : -2} },
					{caption : ['기본정보','입사년차'],	ref : 'period',		width : '80px',	style : 'text-align:center',	type : 'chart' , 		typeinfo : {charttype : 'bar', color : '#e3b781' } },
					{caption : ['기본정보','국적'],		ref : 'nation',		width : '100px',	style : 'text-align:center',	type : 'combo' , 		typeinfo : {ref:'comboData', label:'label', value:'value' , itemcount : 4, 'displayui':true} },
					{caption : ['기본정보','국적2'],		ref : 'nation2',		width : '100px',	style : 'text-align:center',	type : 'inputcombo' , 	typeinfo : {ref:'combofilteringData', label:'label', value:'value' , itemcount : 4},	disabled : true},
					{caption : ['기본정보','결혼여부'],	ref : 'married',	width : '80px',	style : 'text-align:center',	type : 'checkbox', 		typeinfo : {checkedvalue : 'true'} },
					{caption : ['기본정보','생년월일'],	ref : 'birth',		width : '90px',	style : 'text-align:center',	type : 'datepicker',		typeinfo : {locale : 'en'},		format : {type:'date', rule:'yyyy-mm-dd', origin : 'yyyy-mm-dd' }  },
					{caption : ['기본정보','입사일'],		ref : 'hiredate',	width : '120px',	style : 'text-align:center',	type : 'inputdate',		typeinfo : {locale : 'ko'} },
					{caption : ['기본정보','팀장여부'],	ref : 'leader',		width : '80px',	style : 'text-align:center',	type : 'radio',			skipkeyfocus : true},
					{caption : ['부수정보','주소'],		ref : 'addr',		width : '250px',	style : 'text-align:center',	type : 'textarea'  },
					{caption : ['부수정보','전화번호'],	ref : 'tel',			width : '130px',	style : 'text-align:center', 	type : 'inputbutton'},
					{caption : ['부수정보','이메일'],		ref : 'email',		width : '200px',	style : 'text-align:center',	type : 'outputbutton'},
					{caption : ['부수정보','취미'],		ref : 'hobby',		width : '100px',	style : 'text-align:center', 	type : 'output',		hidden : true },
					{caption : ['부수정보','전공'],		ref : 'major',		width : '100px',	style : 'text-align:center',	type : 'output'}
				];
				datagrid = _SBGrid.create(SBGridProperties);		
			};
		</script>
	</head>

	<body>
	    <div id="SBGridArea" class="gridStyle"></div>
	</body>
</html>
