<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.HK.PoyoWordBook">
  <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
    <application android:label="HK.PoyoWordBook.Android"
                 android:largeHeap="true"></application>

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

  <!--<uses-permission android:name="com.mycompany.HK.PoyoWordBook.Android.c2dm.permission.RECEIVE" />
  <permission android:name="com.mycompany.HK.PoyoWordBook.Android.permission.C2D_MESSAGE"
              android:protectionLevel="signature" />-->
  
<!--<uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>
<permission
    android:name="${applicationId}.permission.C2D_MESSAGE"
    android:protectionLevel="signature"/>-->

</manifest>
