
.currently-loading {
    border: 0;
    padding: 0;
    opacity: 0.95;
    background-image: url(../img/img_1.gif);
    background-size: 100% 100%;
    /*background-size: cover;*/
}

.centerDiv {
    display: block;
    margin: auto;
}

.horizontalCenter {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*button {
            border: none;
            font-family: 'Nanum Pen Script';
            font-size: 35px;
            background-color:transparent;
            color: #0053ff;
        }*/

.s1 {
    text-shadow: 2px 2px 2px gray;
}

.s2 {
    text-shadow: 4px 2px 2px gray;
}

.s3 {
    text-shadow: 6px 2px 2px gray;
}


/*.button {
    border: none;
    font-family: 'Nanum Gothic', serif;
    font-weight: bold;
    font-size: 35px;
    background-color: transparent;
    cursor: pointer;
    background: -webkit-linear-gradient(#F29661, #CC723D);
    -webkit-text-fill-color: transparent;
}*/

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

/*ÆË¾÷°ü·Ã*/
.container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

#content {
    float: left;
    width: 100%;
}

.post {
    margin: 0 auto;
    padding-bottom: 50px;
    float: left;
    width: 960px;
}

.btn-sign {
    width: 460px;
    margin-bottom: 20px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background: -moz-linear-gradient(center top, #00c6ff, #018eb6);
    background: -webkit-gradient(linear, left top, left bottom, from(#00c6ff), to(#018eb6));
    background: -o-linear-gradient(top, #00c6ff, #018eb6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00c6ff', EndColorStr='#018eb6');
    text-align: center;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
}

    .btn-sign a {
        color: #fff;
        text-shadow: 0 1px 2px #161616;
    }

#mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

.login-popup {
    display: none;
    background: #333;
    padding: 10px;
    border: 2px solid #ddd;
    font-size: 1.2em;
    position: absolute;

    width:200px;
    height:150px;

    top: 100px;
    left: 50px;

    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close {
    float: right;
    margin: -28px -28px 0 0;
}

fieldset {
    border: none;
}

form.signin .textbox label {
    display: block;
    padding-bottom: 7px;
}

form.signin .textbox span {
    display: block;
}

form.signin p, form.signin span {
    color: #999;
    font-size: 11px;
    line-height: 18px;
}

form.signin .textbox input {
    background: #666666;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #fff;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 200px;
}

form.signin input:-moz-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

form.signin input::-webkit-input-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

.button {
    background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background: -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color: #000;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    font: 12px;
    width: 214px;
}

    .button:hover {
        background: #ddd;
    }
