<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1;text/html; charset=utf-8;" />

		<script>
			var SBpath = "../../../js/";
		</script>
		<script src="../../../js/SBGrid/SBGrid_Lib.js" type="text/javascript"></script>
		<script src="../../../js/SBGrid/SBGrid_min.js" type="text/javascript"></script>
		<link href="../../../js/SBGrid/css/SBGrid.css" rel="stylesheet" type="text/css">
		<link href="../../../js/SBGrid/css/SBGrid_Default.css" rel="stylesheet" type="text/css">
		<link href="../../../css/basic.css" rel="stylesheet" type="text/css">
		<link href="../../../css/common.css" rel="stylesheet" type="text/css">
		<script src="../../../data/data.js" type="text/javascript"></script>
		<script src="../../../js/toggle/toggle.js" type="text/javascript"></script>
		<script src="../../../js/common.js" type="text/javascript"></script>
				
		<title>dragNdrop</title>

		<script type="text/javascript">
			var datagrid1,datagrid2;
			var SBGridProperties = {};
			var SBGridProperties2 = {};
			var newData = [];
			
			function createGrid(){
				SBGridProperties.strParentId = 'SBGridArea1';
				SBGridProperties.strId = 'datagrid1';
				SBGridProperties.strJsonRef = 'ct_data.resources';
				SBGridProperties.columns = [
					{caption : ['학원명'],		ref : 'academy',		width : '150px',	style : 'text-align:center',	type : 'output'},
					{caption : ['설립자(성명)'],	ref : 'name',			width : '150px',	style : 'text-align:center',	type : 'input'},
					{caption : ['전화번호'],		ref : 'phone',			width : '120px',	style : 'text-align:center',	type : 'input'},
					{caption : ['학원주소'],		ref : 'addr',			width : '450px',	style : 'text-align:center',	type : 'textarea'},
					{caption : ['교습과정'],		ref : 'curriculum',		width : '100px',	style : 'text-align:center',	type : 'combo', typeinfo :{ ref : 'newComboData', displayui : true, label : 'label', value : 'value'}},
					{caption : ['교습과목(반)'],	ref : 'class',			width : '200px',	style : 'text-align:center',	type : 'input'},
					{caption : ['정원'],		 	ref : 'maxstudent',		width : '70px',	style : 'text-align:center',	type : 'input', format : {type:'string', rule:'@ "명"'}},
					{caption : ['교습기간'],		ref : 'term',			width : '100px',	style : 'text-align:center',	type : 'input'},
					{caption : ['교육시작일'],		ref : 'startday',		width : '100px',	style : 'text-align:center',	type : 'datepicker', typeinfo : {locale : 'ko' , dateformat :'yymmdd'}, format : {type:'date', rule:'yyyy-mm-dd', origin : 'yyyymmdd' }},
					{caption : ['총교습시간(분)'],   ref : 'totalminute',		width : '100px',	style : 'text-align:center',	type : 'input'},
					{caption : ['교습비'],		ref : 'pay',			width : '100px',	style : 'text-align:center',	type : 'input', format : {type:'number', rule:'#,###'}},
					{caption : ['강사수'],		ref : 'teacher',			width : '70px',	style : 'text-align:center',	type : 'input'}
				];
				
				datagrid1 = _SBGrid.create(SBGridProperties);
				
				SBGridProperties2.strParentId = 'SBGridArea2';
				SBGridProperties2.strId = 'datagrid2';
				SBGridProperties2.strJsonRef = 'newData';
				SBGridProperties2.columns = [
					{caption : ['학원명'],		ref : 'academy',		width : '150px',	style : 'text-align:center',	type : 'output'},
					{caption : ['설립자(성명)'],	ref : 'name',			width : '150px',	style : 'text-align:center',	type : 'input'},
					{caption : ['전화번호'],		ref : 'phone',			width : '120px',	style : 'text-align:center',	type : 'input'},
					{caption : ['학원주소'],		ref : 'addr',			width : '450px',	style : 'text-align:center',	type : 'textarea'},
					{caption : ['교습과정'],		ref : 'curriculum',		width : '100px',	style : 'text-align:center',	type : 'combo', typeinfo :{ ref : 'newComboData', displayui : true, label : 'label', value : 'value'}},
					{caption : ['교습과목(반)'],	ref : 'class',			width : '200px',	style : 'text-align:center',	type : 'input'},
					{caption : ['정원'],		 	ref : 'maxstudent',		width : '70px',	style : 'text-align:center',	type : 'input', format : {type:'string', rule:'@ "명"'}},
					{caption : ['교습기간'],		ref : 'term',			width : '100px',	style : 'text-align:center',	type : 'input'},
					{caption : ['교육시작일'],		ref : 'startday',		width : '100px',	style : 'text-align:center',	type : 'datepicker', typeinfo : {locale : 'ko' , dateformat :'yymmdd'}, format : {type:'date', rule:'yyyy-mm-dd', origin : 'yyyymmdd' }},
					{caption : ['총교습시간(분)'],   ref : 'totalminute',		width : '100px',	style : 'text-align:center',	type : 'input'},
					{caption : ['교습비'],		ref : 'pay',			width : '100px',	style : 'text-align:center',	type : 'input', format : {type:'number', rule:'#,###'}},
					{caption : ['강사수'],		ref : 'teacher',			width : '70px',	style : 'text-align:center',	type : 'input'}
				];
				
				datagrid2 = _SBGrid.create(SBGridProperties2);
				
				datagrid1.setDnD({target : 'datagrid2', type : 'move', position : 'insert', stylesync : false});
				datagrid2.setDnD({target : 'datagrid1', type : 'move', position : 'insert', stylesync : false});				
			};
		</script>
	</head>

	<body>
		<div class="subTitle">
			<h2 class="title">setDnD </h2>
		</div>
		
		<p class="ctext4">Description</p>
		<ul class="descList">
			<li> ● 두 그리드 간의 Drag & Drop 을 통한 행 데이터 이동이 가능합니다.</li>
		</ul>
		<p class="ctext4">Value</p>
		<div class="example_box" style="width:90%;">
			<pre >
	
	<span style="font-weight: bold;"> * 메소드 : datagrid1.setDnD({target : value1, type : value2, position : value3, stylesync : value4});</span>
	   - value1 : <span style="font-weight: bold;">[string]</span> 데이터를 drop할 그리드 객체 (그리드 id)
	   - value2 : <span style="font-weight: bold;">[string]</span> 데이터 이동 유형
		  → 'copy' (default)		: drag되는 그리드에서 데이터 유지
		  → 'move'			: drag되는 그리드에서 데이터 삭제
	   - value3 : <span style="font-weight: bold;">[string]</span> 데이터 이동 위치
		  → 'insert' (default)	: 모든 페이지 데이터 정렬
		  → 'add'				: 한 페이지 내에서 데이터 정렬
	   - value4 : <span style="font-weight: bold;">[boolean]</span> type이 move일 때 데이터 drag시 스타일 이동 여부
		  → true				: 스타일 유지
		  → false	(default)		: 스타일 이동
			</pre>
		</div>		
		
		<div class="ctext4">Example
			<input type="button" id = "clickb" class="buttonStyle" name="bt" value="code View" onclick="codeView()" />
		</div>
			
		<div class="example_box_a" id="toggle2">
		<pre>
			<span class="comment"></span>
	var datagrid1,datagrid2;
			var SBGridProperties = {};
			var SBGridProperties2 = {};
			var newData = [];
			
			function createGrid(){
				SBGridProperties.strParentId = 'SBGridArea1';
				SBGridProperties.strId = 'datagrid1';
				SBGridProperties.strJsonRef = 'ct_data.resources';
				SBGridProperties.columns = [
					{caption : ['학원명'],		ref : 'academy',		width : '150px',	style : 'text-align:center',	type : 'output'},
					{caption : ['설립자(성명)'],	ref : 'name',			width : '150px',	style : 'text-align:center',	type : 'input'},
					{caption : ['전화번호'],		ref : 'phone',			width : '120px',	style : 'text-align:center',	type : 'input'},
					{caption : ['학원주소'],		ref : 'addr',			width : '450px',	style : 'text-align:center',	type : 'textarea'},
					{caption : ['교습과정'],		ref : 'curriculum',		width : '100px',	style : 'text-align:center',	type : 'combo', typeinfo :{ ref : 'newComboData', displayui : true, label : 'label', value : 'value'}},
					{caption : ['교습과목(반)'],	ref : 'class',			width : '200px',	style : 'text-align:center',	type : 'input'},
					{caption : ['정원'],		 	ref : 'maxstudent',		width : '70px',	style : 'text-align:center',	type : 'input', format : {type:'string', rule:'@ "명"'}},
					{caption : ['교습기간'],		ref : 'term',			width : '100px',	style : 'text-align:center',	type : 'input'},
					{caption : ['교육시작일'],		ref : 'startday',		width : '100px',	style : 'text-align:center',	type : 'datepicker', typeinfo : {locale : 'ko' , dateformat :'yymmdd'}, format : {type:'date', rule:'yyyy-mm-dd', origin : 'yyyymmdd' }},
					{caption : ['총교습시간(분)'],   ref : 'totalminute',		width : '100px',	style : 'text-align:center',	type : 'input'},
					{caption : ['교습비'],		ref : 'pay',			width : '100px',	style : 'text-align:center',	type : 'input', format : {type:'number', rule:'#,###'}},
					{caption : ['강사수'],		ref : 'teacher',			width : '70px',	style : 'text-align:center',	type : 'input'}
				];
				
				datagrid1 = _SBGrid.create(SBGridProperties);
				
				SBGridProperties2.strParentId = 'SBGridArea2';
				SBGridProperties2.strId = 'datagrid2';
				SBGridProperties2.strJsonRef = 'newData';
				SBGridProperties2.columns = [
					{caption : ['학원명'],		ref : 'academy',		width : '150px',	style : 'text-align:center',	type : 'output'},
					{caption : ['설립자(성명)'],	ref : 'name',			width : '150px',	style : 'text-align:center',	type : 'input'},
					{caption : ['전화번호'],		ref : 'phone',			width : '120px',	style : 'text-align:center',	type : 'input'},
					{caption : ['학원주소'],		ref : 'addr',			width : '450px',	style : 'text-align:center',	type : 'textarea'},
					{caption : ['교습과정'],		ref : 'curriculum',		width : '100px',	style : 'text-align:center',	type : 'combo', typeinfo :{ ref : 'newComboData', displayui : true, label : 'label', value : 'value'}},
					{caption : ['교습과목(반)'],	ref : 'class',			width : '200px',	style : 'text-align:center',	type : 'input'},
					{caption : ['정원'],		 	ref : 'maxstudent',		width : '70px',	style : 'text-align:center',	type : 'input', format : {type:'string', rule:'@ "명"'}},
					{caption : ['교습기간'],		ref : 'term',			width : '100px',	style : 'text-align:center',	type : 'input'},
					{caption : ['교육시작일'],		ref : 'startday',		width : '100px',	style : 'text-align:center',	type : 'datepicker', typeinfo : {locale : 'ko' , dateformat :'yymmdd'}, format : {type:'date', rule:'yyyy-mm-dd', origin : 'yyyymmdd' }},
					{caption : ['총교습시간(분)'],   ref : 'totalminute',		width : '100px',	style : 'text-align:center',	type : 'input'},
					{caption : ['교습비'],		ref : 'pay',			width : '100px',	style : 'text-align:center',	type : 'input', format : {type:'number', rule:'#,###'}},
					{caption : ['강사수'],		ref : 'teacher',			width : '70px',	style : 'text-align:center',	type : 'input'}
				];
				
				datagrid2 = _SBGrid.create(SBGridProperties2);
		</pre>
	</div>
	<div class="example_box_m">
	<pre>
	
		<span class="highlight1">datagrid1.setDnD({target : 'datagrid2', type : 'move', position : 'insert', stylesync : false});</span>
		<span class="highlight1">datagrid2.setDnD({target : 'datagrid1', type : 'move', position : 'insert', stylesync : false});</span>
	};
			</pre>
		</div>
		<p class="ctext4">Sample</p>
		<div class="gridDiv">
			<div class="dndGridDiv">
				<div id="SBGridArea1" class="dndGridStyle1"></div>					
				<div id="SBGridArea2" class="dndGridStyle2"></div>
			</div>
		</div>
	</body>
</html>
